<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achain.blockchain.game.mapper.BlockchainDogMetingOrderMapper">

  <resultMap id="BaseResultMap" type="com.achain.blockchain.game.domain.entity.BlockchainDogMetingOrder">
    <id column="id" property="id"/>
    <result column="seller_dog_id" property="sellerDogId"/>
    <result column="buyer_dog_id" property="buyerDogId"/>
    <result column="order_id" property="orderId"/>
    <result column="seller" property="seller"/>
    <result column="buyer" property="buyer"/>
    <result column="starting_price" property="startingPrice"/>
    <result column="ending_price" property="endingPrice"/>
    <result column="trans_price" property="transPrice"/>
    <result column="status" property="status"/>
    <result column="trx_id" property="trxId"/>
    <result column="begin_time" property="beginTime"/>
    <result column="end_time" property="endTime"/>
    <result column="end_time" property="endTime"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <!-- 通用查询结果列-->
  <sql id="Base_Column_List">
    id,seller_dog_id AS sellerDogId,buyer_dog_id AS buyerDogId,order_id AS orderId,seller,buyer,starting_price AS startingPrice,
    ending_price AS endingPrice,trans_price AS transPrice,status,trx_id AS trxId,
    begin_time AS beginTime,end_time AS endTime,
    create_time AS createTime,udpateTime AS updateTime
  </sql>
</mapper>
