<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achain.blockchain.game.mapper.BlockchainDogInfoMapper">


  <resultMap id="BaseResultMap" type="com.achain.blockchain.game.domain.entity.BlockchainDogInfo">
    <id column="id" property="id"/>
    <result column="dog_id" property="dogId"/>
    <result column="nickname" property="nickname"/>
    <result column="owner" property="owner"/>
    <result column="gene" property="gene"/>
    <result column="birth_time" property="birthTime"/>
    <result column="cooldown_end_time" property="cooldownEndTime"/>
    <result column="mother_id" property="motherId"/>
    <result column="father_id" property="fatherId"/>
    <result column="generation" property="generation"/>
    <result column="fertility" property="fertility"/>
    <result column="trx_id" property="trxId"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <!-- 通用查询结果列-->
  <sql id="Base_Column_List">
    id,dog_id AS dogId,nickname,owner,gene,birth_time AS birthTime,
    cooldown_end_time AS cooldownEndTime,mother_id AS motherId,father_id AS fatherId,
    generation,fertility,trx_id AS trxId
    create_time AS createTime,udpateTime AS updateTime
  </sql>

</mapper>
